@charset "UTF-8";

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #a7fcf9;
}

h1 {
    color: #007571;
}

h1#principal {
    text-align: center;
    color: white;
    background-color: #007571;
}

h2#principal {
    color: #003836;
}

.basico {
    color: green;
}

.intermediario {
    color: rgb(194, 194, 0);
}

.avancado {
    color: red;
}
