@charset "UTF-8";

h1 {
    background-color: lightgray;
    height: 300px;
    width: 300px;

    /*Short-hand border: width style e color*/
    border: 10px solid #264856;

    /*Short-hand padding: cima direita baixo esquerda*/
    padding: 10px 10px;

    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 25px;
    margin-left: 10px;
}

h1:hover {
    background-color: #f7c66c;
}

a {
    border-width: 4px;
    border-style: dashed;
    border-color: #ffa600;

    padding: 10px;
}

p {
    text-indent: 25px;
}